.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toolbar {
  width: 100%;
  height: 60px;
  /*background-color: red;*/
}
.toolbar img {
  display: inline-block;
}

.toolbar-content {
  display: inline-block;
  vertical-align: top;
  background-color: yellow;
}

.toolbar-content ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  /*background-color: blue;*/
}
.toolbar-content li {
  float: left;
  height: 60px;
  line-height: 60px;
}
.toolbar-content li:hover {
  background-color: gray;
}
.toolbar-content li a{
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0px 20px;
}

.dropdown {
  display: inline-block;
  height: 60px;
  padding: 0px 20px;
}
.dropdown p {
  margin-top: 21px;
}
.dropdown:hover {
  background-color: gray;
}
.dropdown-content {
  display: block;
  position: absolute;
}
