.form-area {
  background-color: gray;
  padding: 10px;
  width: 40%;
}

form {
  margin: 10px 5px;
  font-size: 100%;
  padding: 10px;
}

form div {
  margin: 5px 0px;
}

.button {
  padding: 5px 10px;
  background-color: green;
  color: white;
}

.button.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
