.dropdown {
  display: inline-block;
  height: 60px;
  padding: 0px 20px;
  /*background-color: #222;*/
}

.mobile .dropdown {
  width: 100%;
  position: relative;
  padding: 0px;
}

.mobile .dropdown p {
  margin-left: 20px;
}

.dropdown p {
  margin-top: 21px;
}

.dropdown:hover {
  background-color: gray;
}

.mobile .dropdown-content {
  position: absolute;
  
}

.dropdown-content {
  display: block;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
  background-color: #222;
  min-width: 97px;
  /*z-index: 1;*/
}

.selected {
  background-color: purple;
}

.mobile .dropdown-link {
  height: 60px;
  line-height: 60px;
  padding: 0px;
}

.dropdown-link {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  /*background-color: #222;*/
}

.dropdown-content a:hover {
  background-color: gray;
}
